@tailwind base;
@tailwind components;
@tailwind utilities;

/*place global styles here */

/* Type */
@font-face {
	font-family: 'UncutSans';
	src: url('/font/UncutSans-Variable.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-stretch: 75% 125%;
	font-style: normal;
}

@font-face {
	font-family: 'WhyteInktrap';
	src: url('/font/ABCWhyteInktrapVariable-Trial.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-stretch: 75% 125%;
	font-style: normal;
}

/* --- */
html,
body {
	@apply h-full;
	background-color: var(--default-bg-color);
	overflow-x: hidden;
	font-family: 'UncutSans', sans-serif;
}

:root {
	--card-bg-color: rgba(247, 247, 247, 0.1);
	--default-bg-color: #f7f7f7;
	--inset-bg-color: rgba(247, 247, 247, 0.1);
	--inner-br: 11px;
	--outer-br: 24px;

	--settingsCard-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.1);

	/* Range slider colors */
	--range-slider: white;
	--range-handle-inactive: white;
	--range-handle: white;
	--range-handle-focus: white;
	--range-float-text: white; /* todo */
	--range-range-inactive: #b0b0b0;
	--range-range-active: #b0b0b0;
	--range-float: black;
	--range-handle-border: transparent;

	/* Color picker */
	--picker-width: 170px;
	--picker-height: 150px;
}

/* Material Icons */

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 100,
		'GRAD' 200,
		'opsz' 24;
}

.material-symbols-outlined.material-small {
	font-variation-settings:
		'FILL' 0,
		'wght' 100,
		'GRAD' 200,
		'opsz' 24;
}

/* graph settings */

.card {
	background-color: var(--card-bg-color);
	border-radius: var(--outer-br);
	box-shadow: var(--settingsCard-shadow);
	backdrop-filter: blur(15px);
	pointer-events: auto;
}

.cardInset {
	background-color: var(--card-bg-color);
	border-radius: var(--outer-br);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px);
	pointer-events: auto;
}

.cardSpacing {
	padding: 16px;
	margin-bottom: 8px;
}

.buttonSpacing {
	margin-bottom: 8px;
}

.labelContainer {
	background-color: var(--inset-bg-color);
	border-radius: var(--inner-br);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
	transition: height 0.3s ease;
	backdrop-filter: blur(30px);
	/* padding-bottom: 10px; */
}

/* rules */

.ruleToggleSettings {
	margin: 8px 0px;
	display: flex;
	justify-content: center;
}

.ruleToggleSettings button {
	transition: flex 0.2s;
	flex: 1;
}

.ruleToggleSettings button:hover {
	flex: 1.5;
}

.ruleToggleSettings button {
	font-size: x-small;
	flex: 1;
	height: 30px;
	background-color: white;

	border-radius: 10px;
	padding: 2px;
	margin: 0px 2px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.ruleToggleSettings button.active {
	background-color: black;
}

.ruleToggleSettings button.active span {
	color: white;
}

.ruleToggleSettings span {
	font-size: 18px;
}

@keyframes popupShowBottom {
	from {
		opacity: 0;
		transform: translateX(-50%) translateY(0%) scaleY(0);
	}
	to {
		opacity: 1;
		transform: translateX(-50%) translateY(10px) scaleY(1);
	}
}

@keyframes popupShowTop {
	from {
		opacity: 0;
		transform: translateX(-50%) translateY(0%) scaleY(0);
	}
	to {
		opacity: 1;
		transform: translateX(-50%) translateY(-10px) scaleY(1);
	}
}

@keyframes popupShowLeft {
	from {
		opacity: 0;
		transform: translateY(-50%) translateX(0%) scaleX(0);
	}
	to {
		opacity: 1;
		transform: translateY(-50%) translateX(-10px) scaleX(1);
	}
}

@keyframes popupShowRight {
	from {
		opacity: 0;
		transform: translateY(-50%) translateX(0%) scaleX(0);
	}
	to {
		opacity: 1;
		transform: translateY(-50%) translateX(10px) scaleX(1);
	}
}

.hover-popup {
	border-radius: 14px;
	color: white;
	background-color: rgba(0, 0, 0, 1);
	padding: 8px 12px;
	font-size: 12px;
	/* max-width: 200px; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.hover-popup-bottom {
	transform-origin: top center;
	animation: popupShowBottom 0.1s ease forwards;
}

.hover-popup-top {
	transform-origin: bottom center;
	animation: popupShowTop 0.1s ease forwards;
}

.hover-popup-left {
	transform-origin: right center;
	animation: popupShowLeft 0.1s ease forwards;
}

.hover-popup-right {
	transform-origin: left center;
	animation: popupShowRight 0.1s ease forwards;
}

.reverse {
	display: flex;
	flex-direction: column-reverse;
}

.settingName {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	display: flex;
	align-items: center;
}

.settingName span {
	margin-left: 5px;
	font-size: 16px;
}

.bindContainer {
	background-color: var(--inset-bg-color);
	border-radius: var(--inner-br);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
	transition: height 0.3s ease;
	padding-right: 5px;
	display: flex;
	align-items: center;
}

.buttonGeneral span {
	font-size: 19px;
	transition: all 0.2s;
}

.buttonGeneral {
	/* margin-left: 10px; */
	display: flex;
	align-items: center;
}

.buttonGeneral span:hover {
	transform: scale(1.2);
}

.buttonGeneral:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.buttonGeneral:disabled:hover {
	animation: shake 0.3s ease-in-out;
}

.settingContainer {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.hoverScale {
	transition: all 0.2s;
}

.hoverScale:hover {
	transform: scale(1.1);
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-2px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(2px);
	}
}

.shake {
	animation: shake 0.5s ease-in-out;
}

.buttonGeneral:disabled:hover {
	transform: none;
	animation: shake 0.5s ease-in-out;
}
